@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header{
    width: 100%;
    height: 389px;
    background-color: rgba(180, 104, 252, 0.43);
}
/* TOP AND BAR MENU*/
.top_menu{  
    position: absolute;
    float: left;
    height: 100px;
    left: 262px;
    right: 244px;
    bottom: 982px;
    top: 69px;
    padding: 10px; 
}
.top_menu:after {

    content: "";
    display: table;
    clear: both;
  }
.nav_bar_logo {

    display: inline-block;
}
.nav_bar_text {
    overflow: hidden;
    text-align: right;
}

.nav_bar_text li {
    display: inline-block;
    padding-left:40px; 
}
.top_hamburger{
    display: none;
}

.hamburger {
    display: none;
    position: none;
}

.bar {
    position: relative;
    display: block;
    top: 50%;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.text_theory2{
    width: fit-content;
    height: fit-content ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 179px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */


    color: #B468FC;
}
.nav_bar_text a{    
    text-decoration: none;
    text-align: right;

    display: bloinline-block;
    position: relative;
    transition:.3s linear;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.nav_bar_text a:hover {
    background: linear-gradient(to left, #B468FC, #FFD200 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.nav_bar_logo {
    cursor: pointer;
    float: left;
    position: relative;
    
    width: 76px; /* 4.06% */
    height: 68px;
    top : -20px;
}

@media (max-width: 1040px){
    .text_theory2{
        display: none;
    }
    .header{
        height: 79px;
        background: none;
    }
    .text_theory1{
        
        width: fit-content;
        height: fit-content ;
        padding-top: auto;
        padding-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 39px;
        line-height: 48px;
        color: white;
    }
    .nav_bar_logo {
        display: none;
    }
    .top_menu {
        display: none;
    }
    .top_hamburger {
        display: inline;
        position: fixed;
        background-color: hsl(271, 96%, 70%, 0.5);
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.3s;
    }
    .nav_bar_text li {
        display: table;
        padding-left: 0%;
    }
    .top_menu.active {
        left: 40%;
        display: table;
    }
    .header.active{
        height: 300px;
        background: none;
    }
    .top_menu {
        margin: 2.5rem 0;
    }
    .nav_bar_text a{ 
        padding-left: 0%;
    }
    .nav_hamburger_logo{
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        float: left;
        top : -5px;
        height: 39px;
        left: 20px;
    }
    .hamburger {
        padding-right: 20px;
        position: relative;
        display: block;
        float: right;
        cursor: pointer;
    }
    .top_menu.active::after{
        position: relative;
        display: block;
        top: 50%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: hsl(271, 96%, 70%, 0.5);
    }
    .text_theory.active{

        width: 339px;
        height: 117px;
        margin-left: auto;
        margin-right: auto;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 117px;
        /* identical to box height */
    
    
        color: #B468FC;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.animate{
    display:inline-block;   
}
.animate:hover img.myBtnclass2{ /* а вторая при наведении курсора становится прозрачной */
    opacity:0;
    filter:alpha (opacity=0);
  
}
.myBtnclass1{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
.myBtnclass2{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    z-index: 99; /* Make sure it does not overlap */
    background: none;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */ 
}

/* MAIN PAGE*/

.container{
    width: 100%;
    height: 100%;
}

/*First block */
.main_text_type1{
    flex: 50%;
    width: 50%;
    box-sizing: content-box;
    float: left;
}
.pos_4_text_1_1{
    width: 453px;
    height: fit-content;
    margin-top: 138px;
    margin-left: 260px;
}
.text_type1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.pos_4_text_1_2{
    width: 73%;
    height: fit-content;
    margin-left: 260px;
    margin-top: 69px;
}

.text_type2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160.9%;
    color: #000000;
}
.pos_4_text_1_3{
    width: 73%;
    height: fit-content;
    margin-left: 260px;
    padding-left: 2.6%;
    margin-top: 59px;
}
.pos_4_text_1_4{
    width: 73%;
    height: fit-content;
    margin-left: 260px;
    margin-top: 59px;
}

/* End first block*/

/*Second block */
.main_text_2{
    float: left;
    padding-top: 100px;
    width: 100%;
    float: left;
    box-sizing: content-box;
}

.pos_4_text_2_1{
    width: 26%;
    height: fit-content;
    margin-left: 260px;
}


.pos_4_text_2_2{
    width: 73%;
    height: fit-content;
    margin-left: 260px;
    padding-top: 69px;
}

.pos_4_photo_2_1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    height: fit-content;
}
.photo_2_1{
    width: 100%;
}
.main_button_2{
    margin-top: 100px;
    width: 401px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    background: #B468FC;
    border-radius: 62px;
}
.main_button_2_text{
    top:31px;
    left: 119px;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
/* End second block*/

/*Third block */
.main_text_3{
    width: 100%;
    float: left;
    box-sizing: content-box;
}
.pos_4_text_3_1{
    
    width: 47%;
    height: fit-content;
    margin-top: 100px;
    margin-left: 260px;
}


.pos_4_text_3_2{
    width: 72%;
    height: auto;
    margin-left: 260px;
    margin-top: 69px;
}
.pos_4_photo_3_1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: fit-content;
}
.photo_3_1{
    width: 100%;
}
/* End third block*/

/*Fourth block */
.main_text_4{
    width: 100%;
    float: left;
    box-sizing: content-box;
}
.pos_4_text_4_1{
    margin-top: 100px;
    width: 62%;
    height: auto;
    margin-left: 260px;
}

.pos_4_text_4_2{
    width: 73%;
    height: auto;
    margin-left: 260px;
    margin-top: 69px;
}

/* End fourth block*/
/*Fifth block */
.main_text_5{
    width: 100%;
    float: left;
    box-sizing: content-box;
}
.pos_4_text_5_1{

    width: 53%;
    height: auto;
    margin-top: 100px;
    margin-left: 260px;
}

.pos_4_text_5_2{
    margin-top: 69px;
    width: 73%;
    height: auto;
    margin-left: 260px;
}

/* End fifth block*/
/*Sixth block*/
.main_text_6{
    width: 100%;
    float: left;
    box-sizing: content-box;
    padding-bottom: 100px;
}
.pos_4_text_6_1{
    width: 39%;
    height: auto;
    margin-top: 100px;
    margin-left: 260px;
}

.pos_4_text_6_2{
    margin-top: 69px;
    width: 73%;
    height: auto;
    margin-left: 260px;
}
.buttons_6{
    display: flex;
    flex-direction: row;

}
.main_button_6_1{
    float: left;
    margin-top: 100px;
    width: 401px;
    height: 106px;
    margin-left: 21%;
    margin-right: auto;
    background: #B468FC;
    border-radius: 62px;
}
.main_button_6_1_text{
    top:31px;
    left: 119px;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.main_button_6_2{
    float:  right;
    margin-top: 100px;
    width: 401px;
    height: 106px;
    margin-left: auto;
    margin-right: 21%;
    background: #FFD200;
    border-radius: 62px;
}
.main_button_6_2_text{
    top:31px;
    left: 160px;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;
}
/*End sixth block*/
@media (max-width: 1745px)/* and (min-width: 741px)*/{
    
    
    .main_text_type1{
        width: 100%;
    }
    .main_text_2{
        padding-top: 100px;
    }
    .text_type1{
        text-align: center;
    }

    .pos_4_text_1_1, .pos_4_text_1_2, .pos_4_text_1_3,
    .pos_4_text_1_4, .pos_4_text_2_1,.pos_4_text_2_2, 
    .pos_4_text_3_1, .pos_4_text_3_2, .pos_4_text_4_1,
    .pos_4_text_4_2, .pos_4_text_5_1, .pos_4_text_5_2,
    .pos_4_text_6_1, .pos_4_text_6_2
    {
        margin-left: auto;
        margin-right: auto;
    }  
}


@media screen and (max-width: 740px) {
    
    .pos_4_text_6_1{
        width: 50%;
    }
    .mainpage_con1{
        height: fit-content;
    }
    .main_text_type1{
        flex:90%;
        height: fit-content;
    }

    .pos_4_text_1_1{
        height: fit-content;
        width: fit-content;
    }
    .pos_4_text_1_2{
        height: fit-content;
    }
    .pos_4_photo_2_1{
        width: 80%;
    }
    .pos_4_photo_3_1{
        width: 80%;
    }
    .main_text_2{
        height: fit-content;
    }

    .pos_4_text_2_1{
        height: fit-content;
        width: fit-content;
    }
    .pos_4_text_2_2{
        height: fit-content;
    }

    .main_text_3{
        height: fit-content;
    }

    .pos_4_text_3_1{
        height: fit-content;
        width: fit-content;
    }
    .pos_4_text_3_2{
        height: fit-content;
    }

    .main_text_4{
        height: fit-content;
    }
    .pos_4_text_4_1{
        height: fit-content;
        width: fit-content;
    }
    .pos_4_text_4_2{
        height: fit-content;
    }

    .main_text_5{
        height: fit-content;
    }

    .pos_4_text_5_1{
        padding-left: 10px;
        padding-right: 10px;
        height: fit-content;
        width: fit-content;
    }
    .pos_4_text_5_2{
        height: fit-content;
    }
    .main_photo_5_1{
        width: fit-content;
        height: fit-content;
        margin-top: auto ;
        margin-bottom: auto;
        margin-left:  auto;
        margin-right:  auto;
        height: auto;
    }
    .photo_5_1{
        width: 100%;

    }
    .text_type1{
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
    }
    .text_type2{
        font-weight: 400;
        font-size: 17px;
        line-height: 160.9%;
    }
    
    .main_button_2{
        width: 200px;
        height: 53px;
        border-radius: 31px;
    }
    .main_button_2_text{
        top: 15px;
        left: 58px;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    .main_button_6_1{
        width: 200px;
        margin-left: 10%;
        height: 53px;
        border-radius: 31px;
    }
    .main_button_6_1_text{
        top: 15px;
        left: 58px;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    .main_button_6_2{
        
        margin-right: 10%;
        width: 200px;
        height: 53px;
        border-radius: 31px;
    }
    .main_button_6_2_text{
        top: 15px;
        left: 80px;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 520px) {
    .buttons_6{
        flex-direction:column;
        justify-content: center;
    }
    .main_button_6_1, .main_button_6_2{
        margin-left: auto;
        margin-right: auto ;
    }
    .main_button_6_1{
        margin-top: 50px;
    }
    .main_button_6_2{
        margin-top: 20px;
    }
}
