@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header{
    width: 100%;
    height: 389px;
    background-color: rgba(180, 104, 252, 0.43);
}
/* TOP AND BAR MENU*/
.top_menu{  
    position: absolute;
    float: left;
    height: 100px;
    left: 262px;
    right: 244px;
    bottom: 982px;
    top: 69px;
    padding: 10px; 
}
.top_menu:after {

    content: "";
    display: table;
    clear: both;
  }
.nav_bar_logo {

    display: inline-block;
}
.nav_bar_text {
    overflow: hidden;
    text-align: right;
}

.nav_bar_text li {
    display: inline-block;
    padding-left:40px; 
}
.top_hamburger{
    display: none;
}

.hamburger {
    display: none;
    position: none;
}

.bar {
    position: relative;
    display: block;
    top: 50%;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.text_theory2{

    width: fit-content;
    height: 117px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 179px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */


    color: #B468FC;
}
.nav_bar_text a{    
    text-decoration: none;
    text-align: right;

    display: bloinline-block;
    position: relative;
    transition:.3s linear;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.nav_bar_text a:hover {
    background: linear-gradient(to left, #B468FC, #FFD200 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.nav_bar_logo {
    cursor: pointer;
    float: left;
    position: relative;
    
    width: 76px; /* 4.06% */
    height: 68px;
    top : -20px;
}
@media (max-width: 1040px){
    .text_theory2{
        display: none;
    }
    .header{
        height: 79px;
        background: none;
    }
    .text_theory1{
        padding-top: auto;
        padding-bottom: auto;
        width: fit-content;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 39px;
        line-height: 48px;
        color: white;
    }
    .nav_bar_logo {
        display: none;
    }
    .top_menu {
        display: none;
    }
    .top_hamburger {
        display: inline;
        position: fixed;
        background-color: hsl(271, 96%, 70%, 0.5);
        width: 100%;
        padding-top: 20px;  
        padding-bottom: 20px;
        transition: 0.3s;
    }
    .nav_bar_text li {
        display: table;
        padding-left: 0%;
    }
    .top_menu.active {
        left: 40%;
        display: table;
    }
    .header.active{
        height: 300px;
        background: none;
    }
    .top_menu {
        margin: 2.5rem 0;
    }
    .nav_bar_text a{ 
        padding-left: 0%;
    }
    .nav_hamburger_logo{
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        float: left;
        top : -5px;
        height: 39px;
        left: 20px;
    }
    .hamburger {
        padding-right: 20px;
        position: relative;
        display: block;
        float: right;
        cursor: pointer;
    }
    .top_menu.active::after{
        position: relative;
        display: block;
        top: 50%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: hsl(271, 96%, 70%, 0.5);
    }
    .text_theory.active{

        width: 339px;
        height: 117px;
        margin-left: auto;
        margin-right: auto;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 117px;
        /* identical to box height */
    
    
        color: #B468FC;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
.animate{
    display:inline-block;   
}
.animate:hover img.myBtnclass2{ /* а вторая при наведении курсора становится прозрачной */
    opacity:0;
    filter:alpha (opacity=0);
  
}
.myBtnclass1{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
.myBtnclass2{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    z-index: 99; /* Make sure it does not overlap */
    background: none;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */ 
}
/* MAIN PAGE*/

.container{
    width: 100%;
    height: 100%;
}

.strong_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}
.simple_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160.9%;
    color: #000000;
}
/*First block */
.box{
    width: 100%;
}
.content_box{
    display: flex;
    margin-top: 100px;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
}
.main_text{
    flex: 50%;
}
.position_text_1_1{
    width: fit-content;
    height: fit-content;
    margin-top: 138px;
    margin-left: 260px;
}
.position_text_1_2{
    flex: 50%;
    width: fit-content;
    margin-left: 260px;
}
.photo_position{
    flex: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.example_photo{
    float: right;
    margin-right: 30%;
    width: 62%;
}
.photo_type{
    width: 100%;
}
.button_mainpage{
    margin-top: 100px;
    width: 401px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    background: #FFD200;
    border-radius: 62px;
}
.button_mainpage_text{
    position: relative;
    width: fit-content;
    height: fit-content;
    top:31px;
    left: 125px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
.position_text_4_3{
    width: fit-content;
    margin-left: 260px;
    margin-top: 68px;
}
/* End first block*/

/*Second block */

.position_text_2_2{
    width: 73%;
    margin-top: 100px;
    margin-left: 260px;
    height: fit-content;
}

/* End second block*/
/*third block*/
.position_text_3_1{
    width: 52%;
    height: fit-content;
    margin-top: 138px;
    margin-left: 260px;
}
/*fourth block*/
.example_photo_last{
    margin-left: auto;
    margin-right: auto;
    width: 28%; 
    margin-top: 41px;  
}
.photo_type_last{
    width: 100%;
}
.social_links{
    margin-top: 60px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.first_links{
    float: left;
    height: fit-content;
    width: fit-content;
}
/* youtube width 120px instagram width 116 facebook width 110 web 120 telegram 120*/
.youtube_link{
    width: 120px;
}

.facebook_link, .instagram_link, .telegram_link, .web_link{
    width: 120px;
    margin-left: 128px;
}
.second_links{
    float: right;
    height: fit-content;
    width: fit-content;
}
@media (max-width: 1400px) {
    .strong_text{
        text-align: center;
    }
    .position_text_1_1, .position_text_2_2{
        margin-left: auto;
        margin-right: auto;
    }
    .position_text_1_2{
        margin-left: auto;
        margin-right: auto;
        width: 73%;
    }
    .photo_position{
        margin-top: 50px;
    }
    .example_photo{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .example_photo_last{
        width: 400px;
    }
    .content_box{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center ;
    }
    .social_links{
        flex-direction: column;
        justify-content: center;
    }
}


@media screen and (max-width: 750px) {
    .example_photo{
        width: 200px;
    }
    .example_photo_last{
        width: 200px;
    }
    .youtube_link{
        width: 60px;
    }
    .facebook_link, .instagram_link, .telegram_link, .web_link{
        width: 60px;
        margin-left: 35px;
    }
    .social_links{
        margin-top: 60px;
        flex-direction: row;
    }
    .strong_text{
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
    }
    .simple_text{
        font-weight: 400;
        font-size: 17px;
        line-height: 160.9%;
    }    
    .button_mainpage{
    
        width: 200px;
        height: 53px;
        border-radius: 31px;
    }
    .button_mainpage_text{
        top: 15px;
        left: 62px;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 490px) {
    .social_links{
        flex-direction: column;
        justify-content: center;
    }
    .second_links{
        margin-top: 20px;
    }
    .web_link{
        margin-left: 47px;
    } 
    .telegram_link{
        margin-left: 34px;
    }

}

