@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}
.text_theory2{
    width: fit-content;
    height: fit-content ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 69px;
    padding-bottom: 120px;
    /* identical to box height */


    color: #B468FC;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header{
    width: 100%;
    height: 189px;
}
.animate{
    display:inline-block;   
}
.animate:hover img.myBtnclass2{ /* а вторая при наведении курсора становится прозрачной */
    opacity:0;
    filter:alpha (opacity=0);
  
}
.myBtnclass1{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
.myBtnclass2{
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    width: 86px;
}   
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 86px; 
    right: 86px; 
    z-index: 99; /* Make sure it does not overlap */
    background: none;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */ 
}

/* TOP AND BAR MENU*/
.top_menu{  
    position: absolute;
    float: left;
    height: 100px;
    left: 262px;
    right: 244px;
    bottom: 982px;
    top: 69px;
    padding: 10px; 
}
.top_menu:after {

    content: "";
    display: table;
    clear: both;
  }
.nav_bar_logo {

    display: inline-block;
}
.nav_bar_text {
    overflow: hidden;
    text-align: right;
}

.nav_bar_text li {
    display: inline-block;
    padding-left:40px; 
}
.top_hamburger{
    display: none;
}

.hamburger {
    display: none;
    position: none;
}

.bar {
    position: relative;
    display: block;
    top: 50%;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav_bar_text a{    
    text-decoration: none;
    text-align: right;

    display: bloinline-block;
    position: relative;
    transition:.3s linear;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.nav_bar_text a:hover {
    background: linear-gradient(to left, #B468FC, #FFD200 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.nav_bar_logo {
    cursor: pointer;
    float: left;
    position: relative;
    
    width: 76px; /* 4.06% */
    height: 68px;
    top : -20px;
}
@media (max-width: 1040px) {
    .header{
        height: 79px;
    }
    .nav_bar_logo {
        display: none;
    }
    .top_menu {
        display: none;
    }
    .top_hamburger {
        display: inline;
        position: fixed;
        background-color: hsl(271, 96%, 70%, 0.5);
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.3s;
    }
    .nav_bar_text li {
        display: table;
        padding-left: 0%;
    }
    .top_menu.active {
        left: 40%;
        display: table;
    }
    .header.active{
        height: 300px;
    }
    .top_menu {
        margin: 2.5rem 0;
    }
    .nav_bar_text a{ 
        padding-left: 0%;
    }
    .nav_hamburger_logo{
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        float: left;
        top : -5px;
        height: 39px;
        left: 20px;
    }
    .hamburger {
        padding-right: 20px;
        position: relative;
        display: block;
        float: right;
        cursor: pointer;
    }
    .top_menu.active::after{
        position: relative;
        display: block;
        top: 50%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: hsl(271, 96%, 70%, 0.5);
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
/* MAIN PAGE*/

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_text{
    flex: 50%;
    padding-top: 167px;
    width: fit-content;
    height: fit-content;
    float: left;
}
.main_photo{
    padding-top: 58px;
    float: right;
    flex: 50%;
    width: 863px;
    height: 667px;
}
.photo1{
    width: 863px;
}
.pos_4_text1{
    margin-left: 260px;
    
    width: 62%;
    height: fit-content;
}
.text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
}
.pos_4_text2{
    position: relative;
    height: fit-content;
    width:  46%;
    margin-left: 260px;
    margin-top: 38px;
}
.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}
.button_4_text3{
    margin-top: 90px;
    margin-left: 260px;
    width: 401px;
    height: 106px;

    background: #B468FC;
    border-radius: 62px;
}

.text3{
    position: relative;
    height: 44px;
    width: 369px;
    top: 31px;
    left: 62px;

    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #FFFFFF;
}
@media (max-width: 1745px) and (min-width: 1041px){
    
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center ;
    }
    .pos_4_text1{
        margin-top: 100px;
        width: fit-content;
        align-items: center;
    }
    .pos_4_text2{
        width: fit-content;
        align-items: center;
    }
    .pos_4_text1, .pos_4_text2,  .button_4_text3{
        margin-left: auto;
        margin-right: auto;
    }
    .main_photo{
        padding-top: 0%;
        padding-left: 0px;
    }
}
@media (max-width: 1040px) and (min-width: 741px) {

    .main_text{
        flex: auto;
    }   
    .pos_4_text1{
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .text1{
        text-align: center;
    }
    .pos_4_text2{
        width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
    .button_4_text3{
        margin-left: auto;
        margin-right: auto;
    }
    .main_photo{
        width: 100%;
        padding-left: 0px;
    }
    .photo1{
        
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
}
@media screen and (max-width: 740px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center ;
    }
    .pos_4_text1{
        width: 350px;
        margin-left: 0%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .text1{
        text-align: center;
        width: 345px;
        height: 66px;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
    }
    .pos_4_text2{
        height: 23px;
        width: 220px;
        margin-left: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .text2{
        margin-left: 0;
        
        height: 23px;
        width: 220px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
    }
    .button_4_text3{
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 53px;

        background: #B468FC;
        border-radius: 62px;
    }
    .text3{
        position: relative;
        height: 22px;
        width: 184px;
    
        top: 15px;
        left: 31px;
    
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        
        color: #FFFFFF;
    }
    .main_photo{
        padding-top: 0%;
        padding-left: 0%;
        justify-content: center;
        width: 80%;
        height: 80%;
    }
    .photo1{
        width: 100%;
    }

}
